/* FeedBackThank.css */

.feedback-thank-container {
    text-align: center;
    padding: 50px;
    background-color: #f8f8f8;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(171, 185, 186, 0.1);
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  
  .feedback-thank-container h2 {
    color: #007bff;
  }
  
  .feedback-thank-container p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .thank-you-container {
    min-height: 85vh;
  }
  
  /* Add more styles as needed */
  