.payment-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 75vh;
  background-color: #f4f4f4;
  padding: 20px;
}

/* Payment page styles */
.payment-page {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  max-width: 500px; /* Adjust the maximum width as needed */
  text-align: center;
  margin-bottom: 20px;
}

/* Title styles */
.payment-title {
  color: #0055bb; /* Changed the title color to match Walmart's blue */
  font-size: 24px;
  margin-bottom: 20px;
}

/* Payment method selection styles */
.payment-methods {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Accordion styles */
.accordion {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

/* Accordion title styles */
.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25px 10px;
  height: 50px; /* Fixed height for accordion title */
  background-color: #1B74CE;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Active accordion title styles */
.accordion.active .accordion-title {
  background-color: #007bff; /* Updated background color for active accordion */
}

/* Accordion content styles */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  text-align: left;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Active state for the accordion content */
.accordion.active .accordion-content {
  max-height: 200px;
}

/* Arrow icon for the accordion */
.accordion-arrow::after {
  content: '+';
  font-size: 15px;
  color: rgb(7, 248, 168);
  transition: transform 0.3s ease-in-out;
}

/* Active state for the accordion title */
.accordion.active .accordion-arrow::after {
  content: '-';
  font-size: 18px;
  transform: rotate(180deg);
}

/* Input field styles */
input[type="text"] {
  width: 100%;
  max-width: 100%; /* Set a maximum width to prevent overflow */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in width calculation */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
}

/* Submit button styles */
button {
  background-color: #0055bb; /* Button background color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  background-color: #ccc; /* Grey background color for disabled button */
  color: #666; /* Grey text color for disabled button */
  cursor: not-allowed; /* Change cursor to 'not-allowed' for disabled button */
}

button:hover {
  background-color: #003e9b; /* Button background color on hover */
}

/* Styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure the overlay appears above other content */
}

.footer {
  background-color: #0055bb; /* Footer background color */
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Year in the footer */
.footer p {
  margin: 0;
}

/* Footer text styles */
.footer-text {
  font-size: 14px;
}

/* Footer copyright styles */
.footer-copyright {
  font-weight: bold;
}

.digital-wallet-info {
  margin-top: 10px;
}

.digital-wallet-info p {
  margin-bottom: 5px;
}

.otp-input {
  margin-bottom: 8px;
}

.otp-validation-button {
  margin-right: 8px;
}

.otp-resend-button {
  margin-top: 8px;
}

.custom-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-loader {
  font-size: 36px; /* Adjust the size as needed */
  color: #0055bb; /* Choose the color you prefer */
}